.section-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.section-form h2 {
  font-size: 30px;
}
.section-form p {
  margin-top: 24px;
  margin-bottom: 12px;
  font-weight: 100;
}
.section-form form {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}
.section-form input[type='text'] {
  flex: 70%;
}
.input-form {
  padding: 10px 14px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}
