* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
}

/* link */
a:link,
a:visited {
  text-decoration: none;
  padding-bottom: 1px;
}
ul {
  list-style: none;
}

p {
  margin: 4px 0;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.row {
  max-width: 1100px;
  margin: 10px auto;
}
.container-blue {
  padding: 24px;
  background-color: #003580;
  color: #fff;
}
.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.radius {
  border-radius: 10px;
}
#search {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 24px;
  display: grid;
  align-items: start;
}
